<%= link_to 'RSS Channels', channels_path %>
<% @items.each do |item| %>
  <p>
    <div>
      <b><%= link_to item.title, item %></b>
    </div>
    <div>
      <%= item.pub_date.strftime('%F') %>
      at <%= item.channel.link %>
    </div>
    <div>
      <a href="<%= item.link %>">Link</a>
    </div>
  </p>
<% end %>
