<p>
<div>
  <b><%= @item.title %></b>
</div>
<div>
  <%= @item.description.html_safe %>
</div>
<div>
  <a href="<%= @item.link %>"><%= @item.link %></a>
</div>
<div>
  <br>
  <%= @item.pub_date.strftime("%F %H:%M") %>
</div>
</p>
<%= link_to 'Back', items_path %>